@import "../../shared/styles";

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--border-padding-top) var(--border-padding-right) 0 var(--border-padding-left);
    height: var(--navbar-height);
    z-index: 100;
}

.blur {
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--navbar-height) + var(--border-padding-top));
    z-index: 5;
}

// css for mobile 
@media(max-width: 770px) {
    .container * {
        color: var(--inverted);
    }

    @keyframes fontColor {
        from {
            color: white;
        }
    
        to {
            color: var(--text);
        }
    }

    h1 {
        animation-name: fontColor;
        @include linear-animation;
    }
}

// css for desktop 
@media(min-width: 690px) {
    .container {
        backdrop-filter: blur(20px);
        left: calc(var(--border-padding-left) - var(--border-padding-right));
        padding: var(--border-padding-top) 0 0 var(--border-padding-right);
    }

}