.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--top-padding) var(--border-padding) 0 var(--border-padding);
    height: var(--navbar-height);
    z-index: 100;
}

.container * {
    color: var(--inverted);
}

.blur {
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--navbar-height) + var(--top-padding) + 50px);
    z-index: 5;
}

@keyframes fontColor {
    from {
        color: white;
    }
  
    to {
        color: var(--text);
    }
}

h1 {
    animation-name: fontColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1.9999s);
}
