<app-nav-bar-element [titleLabel]="'Historie'" [backLabel]="'Dashboard'"></app-nav-bar-element>
<div *ngIf="dataSet">
    <div class="sort-container">
        <p>Sortierung: </p>
        <select [(ngModel)]="selectedTimeInterval" (change)="selectInterval()">
            <option [value]="timeIntervalType.day">Tag</option>
            <option [value]="timeIntervalType.week">Woche</option>
            <option [value]="timeIntervalType.month">Monat</option>
        </select>
    </div>

    <div class="button-container">
        <button class="round-button" (click)="forward()" [ngClass]="{'disabled' : !isForwardPossible()}">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 16L2 8.5L9 1" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>
        <p>{{dataSet[index].label}}</p>
        <button class="round-button" (click)="back()" [ngClass]="{'disabled' : !isBackPossible()}">
            <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 16L8 8.5L1 1" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>        
        </button>
    </div>

    <div class="flex-container">
        <div class="tile-container">
            <app-history-tile-view 
                [data]="dataSet[index]" 
                [pressable]="false" 
                [graphType]="graphType.temperature" 
                [title]="'Temperaturverlauf'">
            </app-history-tile-view>
            <app-simple-tile-view
                [subtitle]="'Ø Temperatur'"
                [value]="getAverageTempString()">
            </app-simple-tile-view>
        </div>
        <div class="tile-container">
            <app-history-tile-view 
                [data]="dataSet[index]" 
                [pressable]="false" 
                [graphType]="graphType.humidity" 
                [title]="'Luftfeuchtigkeitsverlauf'">
            </app-history-tile-view>
            <app-simple-tile-view
                [subtitle]="'Ø Luftfeuchtigkeit'"
                [value]="getAverageHumidityString()">
            </app-simple-tile-view>
        </div>
    </div>

    <article lang="de"> 
        <h4>Good to know</h4>
            <p>
                Die Wetterbeobachtung und Wetteraufzeichnung existiert schon seit Jahrtausenden. Neben den Beobachtungsdaten der Wetterstationen werden zur Bewertung der Klimamodelle häufig auch aufbereitete Daten eingesetzt, die, ausgehend von den Beobachtungen, auf ein regelmäßiges räumliches Raster umgerechnet werden. Zusätzlich zu den traditionellen Beobachtungen wurde das Wetter während der vergangenen Jahrzehnte auch mit Satelliten und Wetterradaren beobachtet.Wie signifikant ein Trend ausfällt, hängt von der betrachteten Klimagröße, der Region, der Jahreszeit und dem Zeitraum der Auswertung ab.
            </p>
    </article>
</div>