.container {
    padding-top: var(--navbar-height);
    height: 100%
}

.background {
    background-color: var(--background);
}

//css code for mobile 
@media(max-width: 769) {
    .outdoor-weather {
        display: none;
    }
}
