<div [@triggerName]="prepareRoute(outlet)" class="main-container container" [ngClass]="{'light-theme' : userContext?.theme === ThemeType.Light, 'dark-theme' : userContext?.theme === ThemeType.Dark  }">
  <router-outlet #outlet="outlet"></router-outlet>
</div>




<!-- DELETE ME -->
<!-- <div class="developer-tools">
  <button (click)="bigFontSize()">Größere Schrift</button>
  <button (click)="normalFontSize()">Normale Schrift</button>
  <button (click)="smallFontSize()">Kleine Schrift</button>


  <div>
    <button (click)="clickMe()">Click me senpai</button>
  </div>
  <div style="background-color:burlywood">{{message}}</div>
</div> -->