.main-container {
    min-height: 100vh;
}

.developer-tools {
    position: fixed;
    bottom: 30px;
}

.container {
    // padding: var(--border-padding-top) var(--border-padding-right) 0 var(--border-padding-left);
    background-color: var(--background);
}