// .app-container {
//     font-size: 62.5%; /* font-size 1em = 10px bei normaler Browser-Einstellung */
// }


.developer-tools {
    position: fixed;
    bottom: 30px;
}

.container {
    // padding: var(--border-padding-top) var(--border-padding-right) 0 var(--border-padding-left);
    background-color: var(--background);
}