<div [@triggerName]="prepareRoute(outlet)" 
  class="main-container container" 
  [ngClass]="{'light-theme' : userContext?.theme === ThemeType.Light, 
              'dark-theme' : userContext?.theme === ThemeType.Dark,
              'high-contrast' : userContext?.theme === ThemeType.HighContrast}">
  <div (click)="clickedOutdoorWeatherView()">
    <app-outdoor-weather-view 
      class="outdoor-weather" 
      [reduceMotion]="true"
      *ngIf="desktop"></app-outdoor-weather-view>
  </div>
  <ngx-spinner   
    type="timer">
  </ngx-spinner>
  <router-outlet 
    #outlet="outlet">
  </router-outlet>
</div>
