@import "../../shared/styles";

// css for mobile and desktop
.weather-image {
    height: var(--outdoor-weather-image-size);
}

.container {
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.temperature {
    font-size: 5.0em;
    font-weight: bold;
    margin: 0;
}

.weather-description {
    letter-spacing: 0.03em;
    padding: 0 0 var(--padding) 0;
}

.temperature-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.min-max-temperature-container {
    padding-left: calc(var(--padding) / 2);
}

.min-max-temperature-container > p {
    text-align: end;
    font-weight: 200;
}

// Set the default font color 
.container * {
    color: var(--inverted);
}

.container{
    //Set the border radius
    border-radius: var(--corner-radius);
    z-index: 1000;
    @include drop-shadow;
}



// css for desktop 
@media(min-width: 769px) {
    .container{
        position: fixed;
        top: var(--padding);
        left: var(--padding);;
        bottom: var(--padding);;
        height: calc(100vh - var(--padding) - var(--padding));
        width: calc(var(--border-padding-left) - var(--border-padding-right) - var(--padding));
        justify-content: center;
    }
    .flex-item {
        margin-top: var(--padding);
    }
}

// css for mobile 
@media(max-width: 769px) {

    // styles for mobile when reduced motion is prefered
    .container{
        padding: var(--padding);
        margin-bottom: var(--padding);
    }

    @media(prefers-reduced-motion: no-preference) {
        .container.motion-allowed {
            padding: 120px var(--padding) 120px var(--padding);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            height: var(--dashboard-outdoor-weather-size);
            border-radius: 0 0 var(--corner-radius) var(--corner-radius);
            margin-bottom: 0;
        }
    
        @keyframes container-shrink {
            from {
                height: var(--dashboard-outdoor-weather-size);
                left: 0;
                right: 0;
                top: 0;
                border-radius: 0 0 var(--corner-radius) var(--corner-radius);
                padding: 120px var(--padding) var(--padding) var(--padding);
            }
        
            to {
                height: var(--shrinked-dashboard-outdoor-weather-size);
                left: var(--border-padding-left);
                right: var(--border-padding-right);
                top: calc(var(--navbar-height) + var(--border-padding-top));
                border-radius: var(--corner-radius);
                padding: var(--padding);
            }
        }
    
        .container.motion-allowed {
            position: fixed;
            animation-name: container-shrink ;
            @include linear-animation;
        }
    
        @keyframes image-shrink {
            from {
                height: var(--outdoor-weather-image-size);
            }
        
            to {
                height: 60px;
            }
        }
    
        .weather-image.motion-allowed  {
            animation-name: image-shrink ;
            @include linear-animation;
        }    
    }
}


.noon-gradient {
    background: rgb(97,194,216);
    background: -moz-linear-gradient(0deg, rgba(97,194,216,1) 0%, rgba(67,125,219,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(97,194,216,1) 0%, rgba(67,125,219,1) 100%);
    background: linear-gradient(0deg, rgba(97,194,216,1) 0%, rgba(67,125,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#61c2d8",endColorstr="#437ddb",GradientType=1);
}

.dawn-gradient {
    background: rgb(238,69,59);
    background: -moz-linear-gradient(0deg, rgba(238,69,59,1) 0%, rgba(164,9,110,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(238,69,59,1) 0%, rgba(164,9,110,1) 100%);
    background: linear-gradient(0deg, rgba(238,69,59,1) 0%, rgba(164,9,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ee453b",endColorstr="#a4096e",GradientType=1);
}

.night-gradient {
    background: rgb(216,97,204);
    background: -moz-linear-gradient(0deg, rgba(216,97,204,1) 0%, rgba(70,67,219,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(216,97,204,1) 0%, rgba(70,67,219,1) 100%);
    background: linear-gradient(0deg, rgba(216,97,204,1) 0%, rgba(70,67,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d861cc",endColorstr="#4643db",GradientType=1);
}


