<div class="container" (click)="closeMenu()" [@animate]>
</div>

<div class="menu-container" [@animate]>
    <button class="fertig" (click)="closeMenu()"><span>Fertig</span></button>
    <button (click)="openPersonalizationSettings()" class="menu-button">
        <span>Personalisierung</span>
        <img class="icon" [src]="imageService.getImageSrcFrom(settingsIcon)">
    </button>

    <button (click)="logout()" class="menu-button">
        <span>Logout</span>
        <img class="icon" [src]="imageService.getImageSrcFrom(logoutIcon)">
    </button>
</div>