<div class="container" (click)="closeMenu()" [@animate]>
</div>

<div class="menu-container" [@animate]>
    <button class="fertig" (click)="closeMenu()"><span class="done">Fertig</span></button>
    <button (click)="openPersonalizationSettings()" class="menu-button">
        <span>Personalisierung</span>
        <img class="icon" [src]="imageService.getImageSrcFrom(settingsIcon)">
    </button>

    <button (click)="openConfigurationSettings()" class="menu-button">
        <span>Konfiguration</span>
        <img class="icon" [src]="imageService.getImageSrcFrom(configurationIcon)">
    </button>

    <button *ngIf="userLoggedIn" (click)="logout()" class="menu-button">
        <span>Ausloggen</span>
        <img class="icon" [src]="imageService.getImageSrcFrom(logoutIcon)">
    </button>


    <button *ngIf="!userLoggedIn" (click)="logout()" class="menu-button">
        <span>Einloggen</span>
        <img class="icon" [src]="imageService.getImageSrcFrom(logoutIcon)">
    </button>
</div>