<card-element *ngIf="indoorRoom" [title]="indoorRoom.roomName" [subtitle]="'Innenraumluftqualität'" [pressable]="pressable">
    <div class="data-container">
        <h1>{{indoorRoom.airQuality}}</h1>
        <div>
            <div class="temp-humidity-data">
                <p>Temperatur: {{indoorRoom.temperature}}°C</p>
            </div>
            <div class="temp-humidity-data">
                <p>Luftfeuchtigkeit: {{indoorRoom.humidity}}%</p>
            </div>
        </div>
    </div>
    <app-progress-chart-element value="'60'"></app-progress-chart-element>

</card-element>
