h1 {
    margin: 0;
    font-weight: bold;
    font-size: 4.0em;
}

.data-container {
    display: flex;
    justify-content: space-between;
}

.temp-humidity-data {
    display: flex;
    justify-content: flex-end;
}