<card-element 
    *ngIf="_indoorRoom" 
    [title]="_indoorRoom.roomName" 
    [subtitle]="'Innenraumluftqualität'" 
    [pressable]="pressable"
    [hideSubtitle]="hideSubtitle">
    <div class="data-container">
        <div class="flex-container">
            <h1>{{_indoorRoom.airQuality}}</h1>
            <p id="airQuality">{{getQualityString()}}</p>
        </div>
        <div>
            <div class="temp-humidity-data">
                <p>Temperatur: {{_indoorRoom.temperature}}°C</p>
            </div>
            <div class="temp-humidity-data">
                <p>Luftfeuchtigkeit: {{_indoorRoom.humidity}}%</p>
            </div>
        </div>
    </div>
    <app-progress-chart-element *ngIf="getQualityValue()" [value]="getQualityValue()" [maxValue]="getMaxValue()" [optimalValue]="getOptimalValue()"></app-progress-chart-element>
    <p *ngIf="_indoorRoom.calibrationValue === -1">Bitte kalibriere deinen Sensor. </p>
        
</card-element>
