<div class="layout container noon-gradient ">
  <h1>WeatherIO</h1>
  <h5>Eine HdM Smarthome Innovation</h5>
  <img class="logo" src="assets/weather/cloudy-sunny.png" alt="Logo">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">
          Email
        </label>
        <input id="email" 
          type="text" 
          formControlName="email"
          placeholder="Bitte E-Mail Adresse eingeben"
          >
      </div>
    
      <div>
        <label for="password">
          Address
        </label>
        <input id="password" 
          type="password" 
          formControlName="password"
          placeholder="Bitte Passwort eingeben"
          >
      </div>
      <p *ngIf="error" class="error-message">{{error}}</p>


    <input type="submit" value="Login">
  </form>
  <div class="button-container">
    <button (click)="onClickRegistration()">Registrieren</button>
    <button (click)="onClickPersonalization()">Weiter ohne Login </button>
  </div>

</div>

  