@mixin background {
    background: var(--accent);
}

@mixin thumb {
    border: 8px solid var(--text);
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background: transparent;
    margin-top: -8px;
}

@mixin height {
    height: 16px;
}

.container {
    margin: var(--padding) 0 0 0;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;

  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    @include height;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    @include background();
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    @include thumb;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    cursor: pointer;
    -webkit-appearance: none;

  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    @include background();
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    @include height;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    @include background();
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    @include thumb;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    @include height;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    @include background();
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    @include background();
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    @include thumb;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    @include background();

  }
  input[type=range]:focus::-ms-fill-upper {
    @include background();

  }
  
  body {
    padding: 30px;
  }
  
  