<div *ngIf="espConfiguration">
    <card-element 
        [subtitle]="'ESP Konfiguration'"
        [title]='espConfiguration.roomName'
        [pressable]="false">
        <button class="btn" (click)="openDialog()">Rename</button>

        <select [(ngModel)]="espConfiguration.transmissionFrequency" (change)="updateConfiguration()">
            <option [value]="1">Jede Minute</option>
            <option [value]="2">Alle 2 Minuten</option>
            <option [value]="5">Alle 5 Minuten</option>
            <option [value]="7">Alle 7 Minuten</option>
            <option [value]="10">Alle 10 Minuten</option>
        </select>

    </card-element>
</div>
