.container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: calc(var(--padding)/2) 0  calc(var(--padding)/2) 0 ;
    border-bottom: 0.5pt solid var(--secondary);
}

.emoji {
    height: 2.2em;
}

.title {
    width: 5em;
}
.textValue{
    padding: 0 1em 0 1em;
    width: 3em;
    text-align: center;
    border-radius: 1.5em;
}

.blue {
    background-color: var(--accent);
}
.red {
    background-color: red;

}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
    color: black;
}