.switch-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: var(--padding);
    // align-content: stretch;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pollen-item {
    width: 11em;
    margin: 0.5em;
}

.theme-item {
    margin: 0.5em;
}

label {
    font-size: 1.6em;
}
