<card-element *ngIf="_dataSet" [title]="_dataSet.label" [subtitle]="'Historie'" [pressable]="pressable">
    <div class="container">
        <ngx-charts-bar-vertical *ngIf="getDataPoint() && getColorScheme()"
            [scheme]="getColorScheme()"
            [gradient]="true"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [results]="getDataPoint()"
            [roundEdges]="true">
        </ngx-charts-bar-vertical>
    </div>
</card-element>
