@mixin gradient {
  background: rgb(97,194,216);
  background: -moz-linear-gradient(0deg, rgba(97,194,216,1) 0%, rgba(67,125,219,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(97,194,216,1) 0%, rgba(67,125,219,1) 100%);
  background: linear-gradient(0deg, rgba(97,194,216,1) 0%, rgba(67,125,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#61c2d8",endColorstr="#437ddb",GradientType=1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;


  border-radius: var(--corner-radius);
  background-color: var(--surface);
  height: 10em;
  width: 10em;
}

span {
  color: var(--text);
  word-wrap: break-word;
  text-align: center;
}

.container.checked {
  @include gradient();

  span {
    color: white;
  }
}

.icon {
  height: 2.5em;
}

