.card-container {
    padding: calc(var(--dashboard-outdoor-weather-size) + var(--navbar-height) + var(--border-padding-top)) 0 calc(var(--dashboard-outdoor-weather-size) + var(--navbar-height) + var(--padding)) 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    align-items: stretch;
    align-content: stretch;
}

@media (prefers-reduced-motion) {
    .card-container {
    }
}


// Responsive design -> only one breakpoint to reduce complexity
// css code for desktop
@media(min-width: 770px), (prefers-reduced-motion: reduce) {
    .card-container {
        padding: var(--navbar-height) 0 var(--border-padding-bottom) 0;
    }
}

