.card-container {
    padding: calc(var(--dashboard-outdoor-weather-size) + var(--navbar-height) + var(--padding)) 0 calc(var(--dashboard-outdoor-weather-size) + var(--navbar-height) + var(--padding)) 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    align-items: stretch;
}
