.container {
    padding: var(--navbar-height) 0 var(--border-padding-bottom) 0;
    height: 100vh;
}

.background {
    background-color: var(--background);
}
//css code for mobile 
@media(max-width: 769) {
    .outdoor-weather {
        display: none;
    }
}
