/* You can add global styles to this file, and also import other style files */


// F O N T S
//////////////////////
/* Global font size */
@font-face {
    font-family: 'Montserrat';
    src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url("/assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url("/assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 700;
}

:root {
    --letter-spacing: 0.04em;
}
/* Set the default font family to Roboto */
html, button {
    font-family: 'Roboto', Arial, sans-serif;
}
p, span, li {
    font-size: 1.6em;
    margin: 0;
    line-height: 1.5em;
    letter-spacing: calc(var(--letter-spacing) / 2);
}
button {
    font-size: 1.0em;
}
/* Set the default font family for headings to Montserrat */
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    margin: var(--padding) 0 var(--padding);
}
h1 {
    font-size: 3.0em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2.0em;
}
h4 {
    font-size: 2.0em;
    margin-top: calc(var(--padding) * 2);
    margin-bottom: 10px;
}
h5 {
    font-size: 1.8em;
}
//////////////////////
//



// C O L O R S
//////////////////////
/* Global font size */
:root {
    --text: #1C2026;
    --accent: #4480DB;
    --secondary:  #8A8A8A;
    --inverted:  #FFFFFF;
    --surface:  #F5F4F7;
    --background: #FFFFFF;
    --pressed: #BABABA;
  }

@media(prefers-color-scheme: dark) {
    :root {
        --text: #FFFFFF;
        --accent: #4480DB;
        --secondary:  #8A8A8A;
        --inverted:  #FFFFFF;
        --surface:  #3e3e3e;
        --background: #1C2026;
        --pressed: #BABABA;

    }
}

p, h1, h2, h3, h4, h5, a {
    color: var(--text);
    text-decoration: none;
}

html {
    background-color: var(--background);
}
body {
    margin: 0;
}
//////////////////////
//


// P A D D I N G / S I Z E S
//////////////////////
/* Global font size */
:root {
    --border-padding-left: 25px;
    --border-padding-right: 25px;
    --border-padding-top: 40px;
    --border-padding-bottom: 80px;
    --padding: 20px;
    --corner-radius: 30px;
    --dashboard-outdoor-weather-size: calc(150px  + 20em);
    --navbar-height: 10em;
    --outdoor-weather-image-size: 150px;
    --dashboard-outdoor-weather-size: calc(var(--outdoor-weather-image-size) + var(--navbar-height) + 10em);
    --shrinked-dashboard-outdoor-weather-size: 70px;
  }

// Responsive design -> only one breakpoint to reduce complexity
@media(min-width: 770px) {
    :root {
        --border-padding-left: 370px;
      }
}

html {
    padding: var(--border-padding-top) var(--border-padding-right) 0 var(--border-padding-left);
}
//////////////////////
//


// B U T T O N S
//////////////////////
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    // border: none;
}
//////////////////////
//
