.container {
    border-radius: var(--corner-radius);
    background-color: var(--surface);
    padding: var(--padding);
    margin: 0 0 var(--padding) 0;
    width: auto;
}

p {
    color: var(--secondary);
    letter-spacing: var(--letter-spacing);
}

h3 {
    margin-top: calc(var(--padding) / 4);
    margin-bottom: calc(var(--padding) / 2);
}