<app-nav-bar-element 
    [titleLabel]="'Vorhersage'" 
    [backLabel]="'Dashboard'">
</app-nav-bar-element>
<app-forecast-tile-view 
    *ngIf="forecast" 
    [data]="forecast" 
    [pressable]="false" 
    [hideSubtitle]="true">
</app-forecast-tile-view>

<article lang="de"> 
    <!-- @Carina -> Zambretti Algorithmus beschreiben? -->
<h4>Alles zur Vorhersage</h4>
    <p>Die Abschätzung der zukünftigen Wetterentwicklung interessiert die Menschen seit Jahrtausenden und ist Gegenstand intensiver Erfahrung und zunehmender Forschung.
    Versuche, das Wetter vorherzusagen, sind seit dem Altertum überliefert und dürften noch länger zurückreichen, wenn man bedenkt, wie stark Menschen – besonders in der Landwirtschaft – von Niederschlag und Temperatur abhängig waren. Ziel der Wettervorhersage ist die Prognose eines Zustandes der Atmosphäre zu einer bestimmten Zeit an einem bestimmten Ort oder in einem bestimmten Gebiet. Dabei sind tatsächlich nicht nur Wettererscheinungen, die sich am Boden auswirken, gemeint, sondern es wird die gesamte Erdatmosphäre betrachtet.</p>
</article>

<app-tts-player-element [ttsTextGeneratorFunction]="ttsTextGeneratorFunction"></app-tts-player-element>
