<div class="layout">
    <app-nav-bar-element class="navbar" [titleLabel]="'Sensor Kalibrierung'" [backLabel]="'Konfiguration'"></app-nav-bar-element>
    <div class="container">   
        <p>Du hast die Sensorkalibrierung gestartet.</p>
        <br>
        <p>Bitte öffne während der Sensorkalibrierung dein Fenster, sodass gemessen werden kann, welchen Wert die optimale Luftqualität in deinem Zimmer hat.</p>
        <p>Die Kalibrierung dauert ca. 4h.</p>
        <button class="button-full-width" (click)="gotIt()">Habe ich verstanden</button>
    </div>
</div>