<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">
            Username
        </label>
        <input id="username" type="password" formControlName="username">
    </div>

    <div>
        <label for="email">
            Email
        </label>
        <input id="email" type="text" formControlName="email">
    </div>

    <div>
        <label for="password">
            Passwort
        </label>
        <input id="password" type="password" formControlName="password">
    </div>

    <div>
        <label for="repeated-password">
            Passwort wiederholen
        </label>
        <input id="repeated-password" type="password" formControlName="repeatedPassword">
    </div>

    <button class="button" type="submit">Registrieren</button>
  
  </form>

<a routerLink="/onboarding/personalization">personalization</a>
