.container {
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: var(--border-padding-left);
    right: 0;
    padding: var(--border-padding-top) 0 0 0;
    z-index: 100;
    backdrop-filter: blur(20px);

}