@import "../../shared/styles";

.menu-button {
    margin: 0;
    padding-left: 0;
    border: none;

    display: flex;
    align-items: center;
}

.menu-image {
    padding-right: 10px;
}

.menu-image * {
    fill: white;
} 

.menu-label {
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
}

@keyframes buttonColor {
    from {
        color: white;
        fill: white;
    }
  
    to {
        color: var(--secondary);
        fill: var(--secondary);
    }
}

.menu-label, .menu-image * {
    animation-name: buttonColor;
    @extend %linear-animation;
}



