@import "../../shared/styles";

.menu-button {
    margin: 0;
    padding-left: 0;
    border: none;

    display: flex;
    align-items: center;
}

.menu-image * {
    fill: var(--secondary);
} 

.menu-image {
    padding-right: 10px;
}

.menu-label {
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--secondary);
}

// css for mobile 
@media(max-width: 770px) {

    .menu-image * {
        fill: white;
    } 

    .menu-label {
        color: white;
    }
    @media(prefers-reduced-motion: no-preferences) {
        @keyframes buttonColor {
            from {
                color: white;
                fill: white;
            }
        
            to {
                color: var(--secondary);
                fill: var(--secondary);
            }
        }

        .menu-label, .menu-image * {
            animation-name: buttonColor;
            @include linear-animation;
        }
    }
}